<div class="mian-port">
    <div class="cubes" id="11">

    </div>
    <div class="cubes" id="12">

    </div>
    <div class="cubes" id="13">

    </div>

    <div class="cubes" id="14">

    </div>
    <div class="cubes" id="15">

    </div>
    <div class="cubes" id="16">

    </div>

    {{!-- <div class="cubes" id="21">

    </div>
    <div class="cubes" id="22">

    </div>
    <div class="cubes" id="23">

    </div>
    <div class="cubes" id="24">

    </div>
    <div class="cubes" id="25">

    </div>
    <div class="cubes" id="26">

    </div> --}}




<div class="jumbotron text-center">
  <h1 class="display-4">{{title}}</h1>
</div>