<div class="mian-port">
        <button id = "startBtn">start</button>
        <p><a>Sore : <span id="Score">0</span></a>| <a>HP : <span id="hpPercentage">100%</span></a>|<a>Life : <span id="lifeLeft">5</span></a>|<a> Time left <span id="timeLeft">20s</span></a></p>
        <div class="cubes hide" id="d11" type = "0">
            <img class ="good"src="../public/images/hostage.jpg">
        </div>
        <div class="cubes hide bad" id="d12" type = "1" data-type = "alive">
                <img class = "good" src="../public/images/ganster.jpg">
        </div>
        <div class="cubes hide good" id="d13" type = "0" >
                <img class = "good" src="../public/images/hostage.jpg">
        </div>
    
        <div class="cubes hide bad" id="d14" type = "1" data-type = "alive">
                <img class = "good" src="../public/images/ganster.jpg">
        </div>
        <div class="cubes hide" id="d15" type = "0">
            <img class ="good"src="../public/images/hostage.jpg">
        </div>
        <div class="cubes hide bad" id="d16" type = "1" data-type = "alive">
                <img class = "good" src="../public/images/ganster.jpg">
        </div>
        <div class="cubes hide" id="d17" type = "0" >
                <img class = "good" src="../public/images/hostage.jpg">
        </div>
    
        <div class="cubes hide bad" id="d18" type = "1" data-type = "alive">
                <img class = "good" src="../public/images/ganster.jpg">
        </div>
    




<div class="jumbotron text-center">
  <h1 class="display-4">{{title}}</h1>
</div>